/* Container Styling */
.updates-corner-content {
    padding: 2rem;
    margin: 0 auto;
    background: #ffffff;
    overflow-x: auto;
    width: 95%;
}

/* Title and Subtitle */
.updates-corner-content .updates-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}




.updates-corner-content .updates-subtitle {
    text-align: center;
    color: #777;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Ant Design Collapse Styling */
.updates-corner-content .ant-collapse {
    background: white;
    border: none;
    text-align: start;
}

.updates-corner-content .ant-collapse-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    transition: box-shadow 0.3s, background-color 0.3s;
}



.updates-corner-content .ant-collapse-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffefe7;
}

.updates-corner-content .ant-collapse-header {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 8px;
    color: #333;
}

.updates-corner-content .ant-collapse-header:hover {
    background-color: #fdf2e9;
}

.updates-corner-content .ant-collapse-header .ant-collapse-arrow {
    right: 16px !important;
}

.updates-corner-content .ant-collapse-content {
    padding: 1rem 1.5rem;
    border-top: 1px solid #ddd;
    padding-bottom: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.updates-corner-content .ant-collapse-content ul {
    padding-left: 1.2rem;
    list-style: disc;
}

.updates-corner-content .ant-collapse-content li {
    color: #555;
}

.updates-corner-content :where(.ant-collapse) .ant-collapse-item:first-child {
    border-bottom: 1px solid #ddd !important;
    border-radius: 8px !important;
}
.updates-corner-content :where(.ant-collapse) .ant-collapse-item:last-child {
    border-bottom: 1px solid #ddd !important;
    border-radius: 8px !important;
}

@media (max-width: 1024px) {
    .pdf-viewer {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .updates-corner-content {
        width: 100%;
    }
    .pdf-viewer {
        width: 400px;
    }
    .updates-corner-content .ant-collapse-content {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .pdf-viewer {
        width: 300px;
    }
}

/* Responsive improvements */
@media (max-width: 600px) {
    .updates-corner-content .updates-title {
        font-size: 1.6rem;
    }

    .updates-corner-content .ant-select-selector {
        padding: 0.3rem 0.8rem !important;
    }
}
