.vision-mission-container {
    background-color: #0047ab; /* Deep blue background */
    color: white;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    max-width: 1400px;
    margin-bottom: 400px;
    margin-top: 200px;
    line-height: 56px;
    font-weight: 400;
}

.vision-title {
    font-size: 60px;
    margin-bottom: 10px;
}

.vision-description {
    font-size: 35px;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto;
}
