.login-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    background-color: #dfebe9;
}


.leftSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginImage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginImage img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.leftCorner {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.rightCorner {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: -1;
}

.rightSectionContainer {
    border: 1px solid #dadada;
    border-radius: 24px;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 9px 40px #dadada;
    background-color: white;
}

@media only screen and (max-width: 1024px) {
    .rightSectionContainer {
        border: 1px solid #dadada;
        border-radius: 16px;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        background-color: white;
        margin-top: 32px;
    }

    .login-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100vh;
        overflow: hidden;
        background-color: white;
    }

}


.overallSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.loginTitle {
    text-align: center;
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

.login-card span {
    color: #666;
    margin-bottom: 20px;
    display: block;
    font-size: 1em;
}

/* Form */
.loginForm {
    text-align: left;
    margin-top: 20px;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form span {
    display: block;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

.login-input {
    height: 36px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

/* Buttons */
.login-button {
    width: 100%;
    height: 3.5rem;
    padding: 12px;
    background-color: #88c05d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background-color: #5d9b48;
}

/* Alternate options */
.loginOptions {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

.loginOptions span {
    color: #aaa;
    margin: 10px 0;
}

/* Link Styles */
.login-link {
    font-size: 0.9em;
    color: #aaa;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.password {
    position: relative;
}

.eye-icon svg {
    position: absolute;
    right: 16px;
    top: 56px;
    cursor: pointer;
    color: #ddd;
}

.eye-icon:hover svg {
    color: #333;
}

@media only screen and (max-width: 1024px) {
    .login-container {
        height: 100%;
        overflow: auto;
    }
}

